ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    width: 60px;
}
 a:link{ 
    text-decoration: none;
}
div .menu a:hover {
    

}
.logo {

}
.menu {

}
.subcontent {

}